/*****************************************************************************/
/* Maker: Style */
/*****************************************************************************/
@blurb-color: #979797;

.icon-section {

	display: inline-block;
	width: 25%;
	vertical-align: top;
	min-width: 100px;
	margin-left: auto;
	margin-right: auto;

	.maker-icon {
		max-width: @grid-width * 0.2;
		margin-left: auto;
		margin-right: auto;
		padding-top: 0;
	}

}

#maker-avatar .sqs-block-image img {

	border-radius: 50%;

}

.video-section {

	display: inline-block;
	width: 50%;
	margin-left: 5%;
	min-width: 300px;
	text-align: center;

	video {
		max-width: 100%;
	}

}

.blurb-section {

	display: block;
	text-align: left;
	margin-top: 3rem;
	color: @blurb-color;
	font-size: 2.5rem;

	p {
		line-height: 3.25rem;
	}

	.image {
		width: @grid-width * 0.55;
		max-width: 80%;
		margin: 4rem;

		&.one {
			float: left;
		}
	}

}

.products-grid.narrow {

	width: 80%;
	@media @mobile {
		width: 100%;
	}
	margin-left: auto;
	margin-right: auto;

	.title-divider {
		font-size: 3.25rem;
	}

}
