.main-section.Products .container {
  max-width: 100%;
}

.product-space {

  @product-padding: 3%;
  @double-padding: @product-padding * 2;

  margin-left: -1rem;
  margin-right: -1rem;

  .half {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    box-sizing: border-box;
    vertical-align: text-top;
    text-align: left;

    &.left {
      width: 37.5rem;
    }
    &.right {
      width: 52.5rem;
    }

    .product-image {

      position: relative;

      &:before{
        content: "";
        display: block;
        padding-top: 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }

    }

    .maker-section {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .title {
    font-size: 2.2rem;
    line-height: 3.125rem;
  }

  .price {
    font-size: 3.5rem;
    line-height: 4.5rem;
    color: #979797;
  }

  .description {
    font-size: 1.6rem;
  }

  .checkout {
    text-align: center;

    > * {
      display: inline-block;
      padding: 1rem;
    }
  }

  .maker-section {
    .name {
      text-align: center;

      #maker-role, name-title {
        display: inline;
        float: left;
      }
    }
  }

}

.maker-icon.flow {

	padding-left: 2.2rem;
	padding-right: 2.2rem;
	padding-top: 2.2rem;
	padding-bottom: 1.5rem;

	box-sizing: border-box;

	.avatar-container {
    width: 16.25rem;
    margin-left: auto;
    margin-right: auto;
		position: relative;
	}

}
