.product-space {

  @product-padding: 3%;
  @double-padding: @product-padding * 2;

  .half {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    vertical-align: text-top;

    &.left {
      width: 60%;
    }
    &.right {
      width: 38%
    }

    .product-image {

      position: relative;

      &:before{
        content: "";
        display: block;
        padding-top: 100%;
      }

      img {
        position: absolute;
        top: @product-padding;
        left: @product-padding;
        bottom: @product-padding;
        right: @product-padding;
        height: 100% - @double-padding;
        height: ~"calc(100% - @{double-padding})";
        width: 100% - @double-padding;
        width: ~"calc(100% - @{double-padding})";
      }

    }

    .maker-section {
      width: 16.25rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .title {

  }

  .price {

  }

  .description {

  }

  .status {

  }

  .checkout {

  }

}
