/*****************************************************************************/
/* Products: Style */
/*****************************************************************************/

@grid-width: 1000px;
@border-size: 2rem;
@image-height-mobile: 50rem;
@image-height-mobile-half: @image-height-mobile / 2;

#main.shop-sections {

	.container.top-space {
			max-width: @grid-width;
			margin-top: 4rem;
	}

	.sqs-block {
		padding-left: @border-size;
		padding-right: @border-size;

		&:first:child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
		}

		@media @mobile {
			.intrinsic {
				height: @image-height-mobile;
				overflow-y: hidden;

				img {
					top: calc(@image-height-mobile-half ~" - 50%");
				}

				.image-caption-wrapper .image-caption p {
					font-size: 3.5rem;
				}
			}
		}
	}

	.image-block {
		.image-caption-wrapper {
			padding: 0.5rem;
			background-color: rgba(0, 0, 0, 0.5);

			.image-caption {
				text-align: right;

				p {
					font-size: 2.08rem;
					padding-right: 1.4rem;

					@media @desktop-xl {
						font-size: 25px;
					}
				}
			}
		}
	}
}
