.products-grid {

  width: 100%;
  position: relative;

  .product {

    display: inline-block;
    width: 33%;

  }

  .title-divider {

    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .slash-footer {

    font-size: 7rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

}
