.products-grid {

  width: 100%;
  position: relative;
  text-align: left;

  .product {

    display: inline-block;
    position: relative;
    width: 33%;
    float: left;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;

    &:before{
    	content: "";
    	display: block;
    	padding-top: 100%; 	/* initial ratio of 1:1*/
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .title {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 2rem;
      text-align: center;
    }

    a {
      color: @darkgrey;
    }

    &.index-1, &.index-2, &.index-3 {
      display: none;
    }

  }

  .title-divider {

    font-size: 5.5rem;
    font-weight: normal;
    display: block;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

  }

  .slash-footer {

    font-size: 12.5rem;
    display: block;
    text-align: center;
    margin-top: 5rem;

  }

}
