// tweak: { "type" : "value", "title" : "Product padding", "min" : "0rem", "max" : "5rem" }
@product-padding: 2rem;

.products-grid {

  width: 100%;
  position: relative;
  text-align: left;

  .product {

    display: inline-block;
    position: relative;
    width: 33%;
    float: left;
    text-align: center;
    padding: @product-padding;
    box-sizing: border-box;

    .image {
      width: 100%;
    }

    .title {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: calc(@product-padding + 1rem);
      text-align: center;
      opacity: 0;
    }

    &:hover {
      .title {
        opacity: 100%;
      }
    }

    a {
      color: @darkgrey;
    }

    &.index-1, &.index-2, &.index-3 {
      display: none;
    }

  }

  .title-divider {

    font-size: 5.5rem;
    font-weight: normal;
    display: block;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

  }

  .slash-footer {

    font-size: 12.5rem;
    display: block;
    text-align: center;
    margin-top: 5rem;

  }

}
